[submodule "third_party/userver"]
	path = third_party/userver
	url = https://github.com/userver-framework/userver
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/inih"]
	path = third_party/inih
	url = https://github.com/benhoyt/inih
[submodule "third_party/mongoose"]
	path = third_party/mongoose
	url = https://github.com/cesanta/mongoose
